
.box {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/* Todo 3.0: Create an animation that increases and decreases the scale of the box  */
.todo-0-container .box{
    /* Apply animation here */
    animation: bob .5s linear infinite;
}

@keyframes bob {
    0%{
        scale: 100%;
    }
    50%{
        scale: 150%;
    }
    100%{
        scale: 100%;
    }   
}
/* Todo 3.1: Create an animation that moves the box left and right.
Start with using "from" and "to". Now use "0%" and "100%" as your key frames.
Set more key frames between 0% and 100%. */
.todo-1-container .box{
    /* Apply animation here */
    animation: MoveLeftRight 2s linear infinite;
}

@keyframes MoveLeftRight {
    from{ 
        transform: translateX(0)
    }
    to{
        transform: translateX(100px)
    }
    
}

/* Todo 3.2: Try the different timing funcitons such as linear, ease-in, ease-in-out, cubic-bezier, and steps*/
.todo-2-container .box{
    /* Apply animation here */
    animation: timing 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

@keyframes timing {
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0)
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
    
}

/* Todo 3.3: Create a transition that will raise the button up and will make it cast a shadow when you hover over the button */
/* bonus: apply the transition on the box shadow with different duration and timing function. This should all be in one line*/
.todo-3-container button{
    /* Apply transition here */
    transform-d: 500ms;
    transition-timing-function: ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 2, 1.24);
    
}

.todo-3-container:hover{
    transform: translateY(-20px);
    box-shadow: 10px 5px 5px gray;
}